.container{
  display: grid;
  grid-template: 75px auto 1fr auto / auto 2fr 1fr;
  gap: 1rem ;
  width: 90%;
  margin: auto;
}

.header-one{
  grid-column: 1 / 3;
}

.header-one h5{
  justify-self: start;
  font-size: 20px;
}

.header-two{
  grid-column: 3 / 4;
}

.header-two h5{
  justify-self: start;
  font-size: 20px;
}

.red{
  grid-column: 1 / 3;
}

.red img{
  max-width: 100%;
}

.green{
  grid-column: 3 / 4;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "a a "
  "b b"
  "c c"
  "d d";
  align-content: start;
}

.bottom-one{
  grid-column: 1 / 3;
}

.bottom-two{
  grid-column: 3 / 4;
  background-color: lightsalmon;
}

.dark-blue{
  grid-column: 1 / 4;
}

.one img{
  max-width: 100%;
}

.purple{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "a a a";
  gap: 1rem;
  width: 90%;
  margin: auto;
}

.purple-one img{
  max-width: 100%;
}

.artist-header{
  line-height: 15%;
  text-align: start;
 }
 
@media screen and (max-width: 780px) {
      .artist-header{
        font-size: 0.4rem;
      }
}

