@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Epilogue:ital@1&family=Noto+Serif+JP:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');


body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  font-family: 'Epilogue', sans-serif;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
